body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin: auto;
}

.labels {
    font-weight: bold;
}

#title {
    text-align: center;
    margin: 20px;
}

.table {
    text-align: center;
}

.container {
    overflow: auto;
}

.navbar.navbar-expand-lg.navbar-light.bg-light li a {
    text-align: right;
}